<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  	<meta charset="UTF-8"/>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>

  	<title>Muffato</title>

  	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}"/>
  	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/algaworks.min.css}"/>
  	
  	<link rel="shortcut icon" th:href="@{/images/icon.png}">
</head>
<body class="aw-layout-simple-page">
	<div class="aw-layout-simple-page__container">
		<th:block layout:fragment="conteudo"></th:block>
	</div>
</body>
</html>