<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Muffato</title>

	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/algaworks.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/application.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/muffato.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-datepicker.standalone.min.css}" />
	
	<link rel="shortcut icon" th:href="@{/images/icon.png}">
</head>
<body>
<!-- 	<input type="hidden" name="_csrf" th:value="${_csrf.token}"/> -->
<!-- 	<input type="hidden" name="_csrf_header" th:value="${_csrf.headerName}"/> -->

	<div class="aw-layout-page">
		
		<div th:replace="layout/fragments/BarraNavegacao :: navbar"></div>
		
		<div th:replace="layout/fragments/MenuLateral :: layout-sidebar"></div>
		
		<section class="aw-layout-content  js-content" layout:fragment="conteudo">
		</section>
		
		<div th:replace="layout/fragments/Footer :: layout-footer"></div>			
	</div>
	
	<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
	<script th:src="@{/layout/javascripts/algaworks.min.js}"></script>
	
	<script th:src="@{/javascripts/vendors/jquery.mask.min.js}"></script>
	
	<script th:src="@{/javascripts/vendors/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/javascripts/vendors/bootstrap-datepicker.pt-BR.min.js}"></script>
	
	<script th:src="@{/javascripts/vendors/bootstrap-notify.min.js}"></script>
	<script th:src="@{/javascripts/promocao.dialog-excluir.js}"></script>
	
	<script th:src="@{/javascripts/muffato.js}"></script>
		
	<th:block layout:fragment="javascript-extra"></th:block>
</body>
</html>