<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:mf="http://www.muffato.com.br"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:th="http://www.thymeleaf.org">
<body>		
	<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
		<div class="aw-layout-sidebar__content">
   			<nav class="aw-menu  js-menu">
   				<ul class="aw-menu__list">
					<li class="aw-menu__item">
	          			<a href="#">
	            			<i class="fa  fa-fw  fa-credit-card"></i><span>Promoção</span>
	            			<i class="aw-menu__navigation-icon  fa"></i>
	          			</a>
	      
	          			<ul class="aw-menu__list  aw-menu__list--sublist">
				            <li class="aw-menu__item  aw-menu__item--link" mf:menu="@{/promocoes.+}" sec:authorize="hasRole('ROLE_CADASTRAR_PROMOCAO')">
				            	<a th:href="@{/promocoes/nova}">Cadastro de promoção</a>
				            </li>
				            
				            <li class="aw-menu__item  aw-menu__item--link" mf:menu="@{/promocoes}" sec:authorize="hasRole('ROLE_PESQUISAR_PROMOCAO')">
				            	<a th:href="@{/promocoes}">Pesquisa de promoção</a>
				            </li>
				        </ul>
				    </li>
   				</ul>
   			</nav>
		</div>
	</aside>
</body>
</html>