<script id="arquivo-upload" type="text/x-handlebars-template">
	<div class="row  js-arquivo-upload">
		<div class="col-sm-1 text-center">
			<a th:href="${promocao.nova} ? @{/arquivos/temp/{{nomeArquivo}}} : @{/arquivos/{{nomeArquivo}}}" title="{{nomeArquivo}}" 
				class="thumbnail  js-tooltip">
				<img th:src="@{/images/csv-export.png}"/>
			</a>
			<button type="button" class="btn  btn-link  js-remove-arquivo">
				<span class="glyphicon  glyphicon-remove"></span>
			</button>
		</div>
	</div>
</script>