<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:mf="http://www.muffato.com.br"
	xmlns:data="http://www.thymeleaf/extras/data"
	layout:decorate="~{layout/LayoutPadrao}">
<head>
	<title>Cadastro de Promoção</title>
	
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}"/>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1 th:if="${promocao.nova}">
							Cadastro de Promoção
						</h1>
						<h1 th:unless="${promocao.nova}" th:text="|Edição da ${promocao.nome}|">
							Edição do Estilo
						</h1>
					</div>
					<div class="col-xs-2">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/promocoes}">
								<i class="glyphicon  glyphicon-search" title="Pesquisa de Estilo"></i> <span class="hidden-xs  hidden-sm">Pesquisa de Promoção</span>
							</a>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<div class="container-fluid">	
			<form method="POST" class="form-vertical  js-form-loading" th:object="${promocao}" 
				th:action="${promocao.nova} ? @{/promocoes/nova} : @{/promocoes/{id}(id=${promocao.id})}">
				<input type="hidden" th:field="*{id}"/>
				<mf:message/>
				<div class="row">
					<div class="col-sm-12  form-group  mf-required" mf:classforerror="nome">
						<label for="nome" class="control-label">Nome</label>
						<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6  form-group  mf-required" mf:classforerror="dataInicio">
						<label for="dataInicio" class="control-label">Data de Início da Promoção</label>
						<div class="input-group">
							<input id="dataInicio" type="text" class="form-control  js-date" th:field="*{dataInicio}" autocomplete="off" placeholder="  /  /  "/>
							<span class="input-group-addon">
								<span class="glyphicon  glyphicon-calendar"></span>
							</span>
						</div>
					</div>
					
					<div class="col-sm-6  form-group  mf-required" mf:classforerror="dataFim">
						<label for="dataFim" class="control-label">Data do Fim da Promoção</label>
						<div class="input-group">
							<input id="dataFim" type="text" class="form-control  js-date" th:field="*{dataFim}" autocomplete="off" placeholder="  /  /  "/>
							<span class="input-group-addon">
								<span class="glyphicon  glyphicon-calendar"></span>
							</span>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12  form-group">
						<input type="hidden" th:field="*{nomeArquivo}"/>
						<input type="hidden" th:field="*{contentType}">
						
						<label for="arquivo" class="control-label">Arquivo</label>
						<div class="js-container-arquivo" th:attr="data-url-arquivo=@{/arquivos}">
							<div id="upload-drop" class="mf-upload">
								<img th:src="@{/images/mini-loading.gif}" class="js-img-loading  hidden"/>
								<i class="glyphicon  glyphicon-cloud-upload"></i>
								<span>Arraste seu arquivo aqui ou</span>
								<a class="mf-upload-form-file">Selecione <input id="upload-select" type="file" accpt=".csv" ></a>							
							</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>				
			</form>
		</div>
		<th:block th:replace="hbs/ArquivoUpload"></th:block>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
		<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
		<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
		<script th:src="@{/javascripts/promocao.upload-arquivo.js}"></script>
	</th:block>	
</body>
</html>