<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:mf="http://www.muffato.com.br"
	xmlns:data="http://www.thymeleaf/extras/data"
	xmlns:sec="http://www.thymeleaf/extras/security"
	layout:decorate="~{layout/LayoutPadrao}">
<head>
	<title>Pesquisa de Promoção</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>
							Pesquisa de Promoção
						</h1>
					</div>
					<div class="col-xs-2">
						<div class="aw-page-header-controls" sec:authorize="hasRole('ROLE_CADASTRAR_PROMOCAO')">
							<a class="btn btn-default" th:href="@{/promocoes/nova}">
								<i class="glyphicon  glyphicon-plus" title="Novo Produto"></i> <span class="hidden-xs  hidden-sm">Nova Promoção</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">	
			<form method="GET" th:object="${promocaoFilter}" th:action="@{/promocoes}">
				<div class="row">
					<div class="col-sm-12  form-group">
						<label for="nome" class="control-label">Nome</label>
						<input id="nome" class="form-control" type="text" th:field="*{nome}"/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6  form-group">
						<label for="dataInicio">Data de Início da Promoção</label>
						<div class="input-group">
							<input id="dataInicio" class="form-control  js-date" type="text" th:field="*{dataInicio}" 
								autocomplete="off" placeholder="  /  /  "/>
							<span class="input-group-addon">
								<span class="glyphicon  glyphicon-calendar"></span>
							</span>
						</div>
					</div>
					
					<div class="col-sm-6  form-group">
						<label for="dataFim">Data do Fim da Promoção</label>
						<div class="input-group">
							<input id="dataFim" class="form-control  js-date" type="text" th:field="*{dataFim}" 
								autocomplete="off" placeholder="  /  /  "/>
							<span class="input-group-addon">
								<span class="glyphicon  glyphicon-calendar"></span>
							</span>
						</div>
					</div>					
				</div>
				<button type="submit" class="btn btn-primary">Pesquisar</button>
			</form>
			<div class="table-responsive  mf-tabela-simples">
				<table class="table  table-hover">
					<thead>
						<tr>			
							<th class="table-promocoes-col-nome">
								<mf:order page="${pagina}" propriedade="nome" texto="Nome"/>
							</th>
							<th class="table-promocoes-col-data-inicio">
								<mf:order page="${pagina}" propriedade="dataInicio" texto="Dt. Início da Promoção"/>
							</th>
							<th class="table-promocoes-col-data-fim">
								<mf:order page="${pagina}" propriedade="dataFim" texto="Dt. Fim da Promoção"/>
							</th>
							<th class="table-produtos-col-acoes"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="promocao : ${pagina.conteudo}" th:with="nomeArquivo=${promocao.nomeArquivo}">
							<td th:text="${promocao.nome}">Promoção de Natal</td>
							<td th:text="${{promocao.dataInicio}}">12/03/2018</td>
							<td th:text="${{promocao.dataFim}}">30/04/2018</td>
							<td class="text-center">
								<a class="btn  btn-link  btn-xs  js-tooltip" th:title="${promocao.notFile} ? 'Não há arquivo para download' : 'Download Arquivo'" 
									th:href="|@{/arquivos/}${nomeArquivo}|" 
									th:disabled="${promocao.notFile}" th:classappend="${promocao.notFile} ? ' no-action'">
									<i class="glyphicon glyphicon-download-alt"></i>
								</a>
								<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" href="#"
									th:href="@{/promocoes/{id}(id=${promocao.id})}" sec:authorize="hasRole('ROLE_CADASTRAR_PROMOCAO') && hasRole('ROLE_EDITAR_PROMOCAO')"> 
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#"
									data:url="@{/promocoes/{id}/(id=${promocao.id})}" 
									sec:authorize="hasRole('ROLE_REMOVER_PROMOCAO')"
									data:objeto="${promocao.nome}">
									<i class="glyphicon glyphicon-remove"></i>
								</a>							
							</td>
						</tr>
						<tr th:if="${pagina.vazia}">
							<td colspan="5">Nehuma Promoção Encontrada</td>
						</tr>
					</tbody>
				</table>
			</div>
			<mf:pagination page="${pagina}"/>
		</div>
	</section>
</body>