<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<th:block th:fragment="paginacao (pagina)">
		<div class="col-sm-12  text-center" th:if="${not pagina.vazia}">
			<nav>
				<ul class="pagination pagination-sm" th:with="paginaAtual=${pagina.atual}">
								
					<!--Link para primeira página-->
					<li th:class="${pagina.primeira} ? disabled">
						<a th:href="${pagina.urlParaPagina(0)}">Primeira</a>
					 </li>
								
					<!-- link para página anterior -->
					<li th:class="${pagina.primeira} ? disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? tag"><span>&laquo;</span></a>
					</li>
									
					<!-- link para página atual e +2 páginas pra trás e +2 páginas pra frente -->
					<th:block th:each="p : ${#numbers.sequence(pagina.atual-1, pagina.atual+3)}" th:with="numeroPagina=${p - 1}" th:unless="${p==-1 || p==0 || p==pagina.total+1 || p==pagina.total+2}">
						<li th:class="${paginaAtual == numeroPagina} ? active : waves-effect">
							<a th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
						</li>
					</th:block>
									
					<!-- link para próxima página -->
					<li th:class="${pagina.ultima} ? disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? tag"><span>&raquo;</span></a>
					</li>
									
					<!-- link para última página -->
					<li th:class="${pagina.ultima} ? disabled">
						<a th:href="${pagina.urlParaPagina(pagina.total-1)}">Última</a>
					</li>
					
<!-- 					<div class="dropdown"> -->
<!-- 						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
<!-- 					    	Número de Elementos -->
<!-- 					  	</button> -->
<!-- 					  	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> -->
<!-- 					    	<a class="dropdown-item" th:href="${pagina.sizeParaTabela(2)}">2</a> -->
<!-- 					    	<a class="dropdown-item" th:href="${pagina.sizeParaTabela(5)}">5</a> -->
<!-- 					    	<a class="dropdown-item" th:href="${pagina.sizeParaTabela(10)}">10</a> -->
<!-- 					  	</div> -->
<!-- 					</div> -->
				</ul>
				
<!-- 				<select id="size" class="form-control"> -->
<!-- 					<option value="${pagina.urlParaPagina('size=2')}">2</option> -->
<!-- 					<option value="${pagina.urlParaPagina('size=5')}">5</option> -->
<!-- 					<option value="${pagina.urlParaPagina('size=10')}">10</option> -->
<!-- <!-- 					<option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}">Paraná</option> -->
<!-- 				</select> -->
			
<!-- 				<ul class="pagination  pagination-sm" th:with="paginaAtual=${pagina.atual}"> -->
<!-- 					<li th:class="${pagina.primeira} ? disabled"> -->
<!-- 						<a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? tag"><span>&laquo;</span></a> -->
<!-- 					</li> -->
<!-- 						<th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" th:with="numeroPagina=${p - 1}"> -->
<!-- 							<li th:class="${paginaAtual == numeroPagina} ? active"> -->
<!-- 								<a th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a> -->
<!-- 							</li> -->
<!-- 						</th:block> -->
			
<!-- 					<li th:class="${pagina.ultima} ? disabled"> -->
<!-- 						<a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? tag"><span>&raquo;</span></a> -->
<!-- 					</li>						 -->
<!-- 				</ul> -->
			</nav>
		</div>	
	</th:block>
</html>